:root {
  --rte-bg: var(--card);
  --rte-toolbar-bg: var(--muted);
  --rte-fg: var(--foreground);
  --rte-border: var(--border);
  --rte-primary: var(--primary);
  --rte-primary-fg: var(--primary-foreground);
  --rte-secondary: var(--secondary);
  --rte-secondary-fg: var(--secondary-foreground);
  --rte-accent: var(--accent);
  --rte-accent-fg: var(--accent-foreground);
  --rte-muted: var(--muted);
  --rte-muted-fg: var(--muted-foreground);
  --rte-tooltip: var(--popover);
  --rte-tooltip-fg: var(--popover-foreground);
  --rte-bubble: var(--popover);
  --rte-overlay: rgba(31, 35, 40, 0.5);

  --rte-editor-code-bg: var(--muted);
  --rte-editor-scrollbar: var(--scrollbar-thumb);

  --rte-radius: var(--radius);

  --rte-editor-min-height: 300px;
  --rte-editor-max-height: 600px;
  --rte-editor-selection: color-mix(in srgb, var(--primary) 20%, transparent);
}

.dark {
  --rte-overlay: rgba(0, 0, 0, 0.7);



  --rte-shadow-1: 0px 0px 0px 1px var(--border), 0px 6px 12px -3px rgba(0, 0, 0, 0.5);
  --rte-shadow-2: 0px 0px 0px 1px var(--border), 0px 8px 16px -4px rgba(0, 0, 0, 0.5);
}